body {
    background: url(PC_circuit.png) no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.header{
    margin-bottom: 5%;

}

.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}
.hex:hover {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.hex .top {
    width: 0;
    border-bottom: 30px solid 00CCFF;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex .middle {
    width: 104px;
    height: 60px;
    background: 00CCFF;
}
.hex .bottom {
    width: 0;
    border-top: 30px solid 00CCFF;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex-row.even {
    margin-left: 53px;
}

.hexlg {
    float: left;
    margin-left: 3px;
    margin-bottom: -55px;
}
.hexlg:hover {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.hexlg .top {
    width: 0;
    border-bottom: 60px solid 3399FF;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
}
.hexlg .middle {
    width: 208px;
    height: 120px;
    background: 3399FF;
}
.hexlg .bottom {
    width: 0;
    border-top: 60px solid 3399FF;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
}

.hex-dark {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}
.hex-dark:hover {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.hex-dark .top {
    width: 0;
    border-bottom: 30px solid 9999FF;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex-dark .middle {
    width: 104px;
    height: 60px;
    background: 9999FF;
}
.hex-dark .bottom {
    width: 0;
    border-top: 30px solid 9999FF;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hexlg-row {
    clear: left;
}
.hexlg-row.even {
    margin-left: 33px;
}
.hex-center{
	float:center;
}
.hexlg:hover {
	-webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
	box-shadow: inset 0 0 0 0px #B0DAD4;
}

.circle {
    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    border: 3px 00CCFF solid;
    background-image: url('prof_pic.jpg');
}
.relative{
	float: relative;
}
.center{
	margin-left:109px;
	margin-right:auto;
}
.right{
	float: right;
	margin-right: 20px;
}

.hexlg-dark {
    float: left;
    margin-left: 3px;
    margin-bottom: -55px;
}
.hexlg-dark:hover {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.hexlg-dark .top {
    width: 0;
    border-bottom: 60px solid 9999FF;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
}
.hexlg-dark .middle {
    width: 208px;
    height: 120px;
    background: 9999FF;
}
.hexlg-dark .bottom {
    width: 0;
    border-top: 60px solid 9999FF;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
}