@media screen and (min-width: 722px){

a {text-decoration: none;}
body {background-image: url('curcuit_bg.jpg'); margin: 0px; background-position: center; box-shadow: inset 0 0 0 1000px rgba(0, 148, 255, 0.2);}
html {font-family: 'Poiret One', cursive;}

.header {height: 45px; width:100%; z-index:2; position: fixed; background-color: black; top: 0; margin-top: 0; text-align: center; display: inline-flex;}
.header .hamburger {display: none;}

.header .nav {letter-spacing: 2px; font-weight:600; display: inline-flex; padding-left: 5%;}
.header .nav a {color:#000; color: white;}
.header .nav a:hover {background-color: rgba(160, 183, 253, 0.61); border-bottom: 2px solid white; opacity: 0.9;}

.header .nav-item {padding-left: 5%; padding-top: 10px; width: 118px;}


.header .contact a {color: #fff;}
.header .contact .button {width: 40px; height: 39px; padding-top: 4px;}
.header .contact .button:hover {background-color: #fff; border-bottom: 2px solid rgba(160, 183, 253, 0.61);}
.header .contact a:hover {color: black;}
.header .contact i {padding-top: 7px;}

.header .contact {position: absolute; right: 0; display: inline-flex; vertical-align: center;}


.banner {height: 720px;}
.banner h1      {font-size: 70; color: black; margin-bottom: 12px;}
.banner h3     {font-weight: 500; font-size: 30; color: black; margin-top:0;}
.border-text {border-top: 1px solid black;}
.center {width: 60%;  margin-left: auto; margin-right: auto; padding-top: 200px; text-align: center;}



.about-me {height: 370px; background-color: #1C2C37; border-top: 5px solid white; border-bottom: 5px solid white;}

.about-me .circle {float: left; width: 20%; max-height: 99%; padding-bottom: 21%; -moz-border-radius: 50%; box-shadow: 10px 8px 50px 0px; border-radius: 50%;
                        background-image: url('prof_pic.jpg'); background-repeat: no-repeat; background-position: center;
                        margin: 3% 0% 10% 10%; border: 0px solid white;}
.about-me .right {max-width: 64%; float: right; padding-right: 2%;}
.about-me p {font-size: 40; color: white;}
.about-me i {padding: 9px;}

.skills {height: 1000px;}

.skills #python {top:0; left:0; background-image: url("python.png");}
.skills #python:hover {background-image: none; background-color: #FF6100;}

.skills #jenkins {background-image: url("jenkins.png"); background-color: black;}
.skills #jenkins:hover {background-image: none; background-color: #FF6100;}

.skills .block-item {float:left; display: inline-block; height:270px; width:270px;background-size: contain;}
.skills .block-item h2 {display: none;  text-align: center; vertical-align: center; }
.skills .block-item:hover h2 {display: block; color: white;}


}



}

@media screen and (max-width: 722px){


a {text-decoration: none;}
body {background-image: url('curcuit_bg.jpg'); margin: 0px; background-position: center;box-shadow: inset 0 0 0 1000px rgba(0, 148, 255, 0.2);}
html {font-family: 'Poiret One', cursive;}

.header {height: 45px; width:100%; position: fixed; background-color: black; opacity: 0.8; top: 0; margin-top: 0; text-align: center; display: inline-flex;}

.header .nav {display: none;}
.header .hamburger {display: inline-flex; padding-left: 5%; color:white; padding-top: 4px;}


.header .contact a {color: #fff;}
.header .contact .button {width: 40px; height: 39px; padding-top: 4px;}
.header .contact .button:hover {background-color: #fff; border-bottom: 2px solid rgba(160, 183, 253, 0.61);}
.header .contact a:hover {color: black;}
.header .contact i {padding-top: 7px;}

.header .contact {position: absolute; right: 0; display: inline-flex; vertical-align: center;}


.banner {height: 800px;}
.banner h1      {font-size: 70; color: black; margin-bottom: 12px;}
.banner h3     {font-weight: 500; font-size: 30; color: black; margin-top:0;}
.border-text {border-top: 1px solid black;}
.center {width: 60%;  margin-left: auto; margin-right: auto; padding-top: 200px; text-align: center;}



.about-me {height: 500px; background-color: #fff;}
}
