<html>
	<head>
		<meta http-equiv="Content-Language" content="en-us">
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap_custom.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		{% endblock %}
		<title>home</title>
	</head>

	<div class="header">
		<div class="button">About Me</div>
		<div class="button">Projects</div>
		<div class="button">Resume</div>
		<div class="button">Contact</div>
	</div>
	<div id="block1">
		<div class="right">
			<h1 class="bottom-border">Amber Heilman</h1>
			<h2>Software Engineer at AWeber Communications</h2>
			<h2>Graduated Drexel University 2014</h2>
			<h3>Master of Science in Software Engineering</h3>

		</div>
		</div>
		<div class="left"></div>


	<body>

	</body>
	<footer>
		<div class="pink-para">Amber Heilman</div>
		<p>
			<i class="fa fa-twitter-square"></i> Twitter
		</p>
		<p>
			<i class="fa fa-twitter-square"></i> Facebook
		</p>
		<p>
			<i class="fa fa-linkedin-square"></i> LinkedIn
		</p>
		<p>
			<i class="fa fa-github"></i> GitHub
		</p>
	</footer>
</html>