<html>
	<head>
		<meta http-equiv="Content-Language" content="en-us">
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap_custom.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='amberweb_css.css') }}">
		{% endblock %}
		<title>AMBER TIME</title>
	</head>

	<div class="header"></div><span></span>

	<body>
		<div class="col-xs-3 pull-right">

				<h1>Amber Heilman</h1>
				<h5>Drexel University Student</h5>
				<h5>Drexel University Student</h5>
				<h5>Drexel University Student</h5>
				<h5>Drexel University Student</h5>
				<div class="circle img"></div>
		</div>
		<div class="container">
				<div class="container col-xs-4">

					    <div class="hex-row">
						        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
						        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
						        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
					    </div>

					    <div class="hex-row even">
					        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
					        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>

					    </div>

					    <div class="hex-row">
					        <div class="hex-dark"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
					        <div class="hex-dark"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
					        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>

					    	<div class="hexlg-row">
							<div class="hexlg"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div></div>
						</div>

				</div>
				<div class="container relative col-xs-5">
					<div class="hexlg-row">
						<div class="hex-dark">
					    	<div class="top"></div>
					    	<div class="middle"></div>
					    	<div class="bottom"></div>
					    </div>	

						<div class="hexlg right">
							<div class="top"></div>
							<div class="middle"></div>
							<div class="bottom"></div>
						</div>	

						<div class="hexlg center">
							<div class="top"></div>
							<div class="middle"></div>
							<div class="bottom"></div>
						</div>	
						<div class="hexlg">
							<div class="top"></div>
							<div class="middle"></div>
							<div class="bottom"></div>
						</div>		
						<div class="hexlg-dark">
					    	<div class="top"></div>
					    	<div class="middle"></div>
					    	<div class="bottom"></div>
					    </div>	

					</div>
		
				</div>

		</div>
	</body>
</html>