<html>
	<head>
		<meta http-equiv="Content-Language" content="en-us">
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		{% endblock %}
		<title>Amber Heilman</title>
	</head>

	<body>

	<div class="header">

		<div class="hamburger"><i class="fa fa-align-justify fa-2x"></i></div>

		<div class="nav">
			<a href="#aboutme"><div class="nav-item">ABOUT ME</div></a>
			<a href="#block2"><div class="nav-item">SKILLS</div></a>
			<a href="#block3"><div class="nav-item">PROJECTS</div></a>
			<a href="#block4"><div class="nav-item">CONTACT</div></a>
		</div>



		<div class="contact">
			<a href="http://www.twitter.com/theamberheilman">
				<div class="button">
					<i class="fa fa-twitter fa-1x"></i>
				</div>
			</a>

			<a href="https://www.facebook.com/amber.heilman.125">
				<div class="button">
					<i class="fa fa-facebook fa-1x"></i>
			</div>
			</a>

			<a href="http://www.linkedin.com/pub/amber-heilman/21/807/790">
				<div class="button">

					<i class="fa fa-linkedin fa-1x"></i>
				</div>	
			</a>

			<a href="http://www.github.com/amberheilman">
				<div class="button">
					<i class="fa fa-github fa-1x"></i>
			</div>
			</a>

			<a href="/" download="Resume_2_5_2014.docx">
				<div class="button">
					<i class="fa fa-download"></i>
				</div>
			</a>


		</div>
	</div>


	<div class="banner">
		<div class="center">
			<h1>Amber Heilman</h1>
			<div class="border-text">
				<h3>Software Engineer at AWeber Communications</h3>
			</div>
		</div>
	</div>


	<div id="aboutme" class="about-me">
		<div class="circle"></div>
		<div class="right">
		<p><i class="fa fa-quote-left"></i>I am a full stack engineer and passionate self-taught web designer. I am interested in all aspects of development from provisioning new machines, coding, deploying, maintaining and ux.<i class="fa fa-quote-right"></i></p>
		</div>
	</div>


	<div id="skills" class="skills">

	{% for img, desc in skillset.iteritems() %}
		<div class="block-item" style="{{img}};">
			<h2>{{ desc }}</h2>
		</div>
	{% endfor %}

	</div>

	</body>


</html>